.charts-app {
  background: #f5f5f5;
}
.chart-cols > div {
  width: 150px;
  position: relative;
}
.chart-cols h5 {
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
}
.chart-cols h5 + div {
  padding-top: 25px;
}
.legend-list.vertical .legend-element {
  display: block;
  width: 100%;
}
.charts-app .chart-type-picker .dropdown .menu a {
  color: #807874;
  font-size: 0.9em;
}
.charts-app .chart-type-picker .dropdown .menu a .fa {
  padding-right: 10px;
}
.charts-app .chart-type-picker .dropdown .menu a:hover {
  text-decoration: none;
  color: #2985a3 !important;
}
#media-type-aggregated-volume-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  float: left;
  height: 240px;
}
#media-type-aggregated-volume-container.pie-chart {
  width: 440px;
  padding: 0 100px 0 100px;
}
#media-type-aggregated-volume-container.bar-chart {
  width: 400px;
  height: 240px;
  padding: 0 50px 0 0;
}
#horizontal-stacked-bar rect {
  height: 10px !important;
}
#horizontal-stacked-bar .axis path,
#horizontal-stacked-bar .axis line {
  fill: none;
  stroke: #e7e7e8;
  shape-rendering: crispEdges;
}
#horizontal-stacked-bar .axis text {
  font-family: sans-serif;
  font-size: 11px;
  fill: #807874;
}
#horizontal-stacked-bar #tooltip {
  position: absolute;
  text-align: center;
  width: 40px;
  height: auto;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}
#horizontal-stacked-bar #tooltip.hidden {
  display: none;
}
#horizontal-stacked-bar #tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.chart-legend {
  font-size: 11px;
}
.chart-legend.chart-legend-absolute-bottom-right {
  position: absolute !important;
  bottom: 0px !important;
  right: 25px;
  text-align: right !important;
  max-width: 100% !important;
}
.chartTransparentFill {
  stroke: transparent;
  fill: transparent;
  stroke-width: 0;
}
.chart_0 {
  color: #2985a3;
  background-color: #2985a3;
  stroke: #2985a3;
  fill: #2985a3;
}
.chart_1 {
  color: #5dc2cf;
  background-color: #5dc2cf;
  stroke: #5dc2cf;
  fill: #5dc2cf;
}
.chart_2 {
  color: #ff6384;
  background-color: #ff6384;
  stroke: #ff6384;
  fill: #ff6384;
}
.chart_3 {
  color: #ffc131;
  background-color: #ffc131;
  stroke: #ffc131;
  fill: #ffc131;
}
.chart_4 {
  color: #1abc9c;
  background-color: #1abc9c;
  stroke: #1abc9c;
  fill: #1abc9c;
}
.chart_5 {
  color: #36a2eb;
  background-color: #36a2eb;
  stroke: #36a2eb;
  fill: #36a2eb;
}
.chart_6 {
  color: #ef767a;
  background-color: #ef767a;
  stroke: #ef767a;
  fill: #ef767a;
}
.chart_7 {
  color: #c9cbcf;
  background-color: #c9cbcf;
  stroke: #c9cbcf;
  fill: #c9cbcf;
}
.chart_line_0 {
  stroke: #2985a3;
  fill: none;
  stroke-width: 2;
}
.chart_line_1 {
  stroke: #5dc2cf;
  fill: none;
  stroke-width: 2;
}
.chart_line_2 {
  stroke: #ff6384;
  fill: none;
  stroke-width: 2;
}
.chart_line_3 {
  stroke: #ffc131;
  fill: none;
  stroke-width: 2;
}
.chart_line_4 {
  stroke: #1abc9c;
  fill: none;
  stroke-width: 2;
}
.chart_line_5 {
  stroke: #36a2eb;
  fill: none;
  stroke-width: 2;
}
.chart_line_6 {
  stroke: #ef767a;
  fill: none;
  stroke-width: 2;
}
.chart_line_7 {
  stroke: #c9cbcf;
  fill: none;
  stroke-width: 2;
}
.chart_fill_trans_0 {
  fill: rgba(41, 133, 163, 0.4);
}
.chart_fill_trans_1 {
  fill: rgba(93, 194, 207, 0.4);
}
.chart_fill_trans_2 {
  fill: rgba(255, 99, 132, 0.4);
}
.chart_fill_trans_3 {
  fill: rgba(255, 193, 49, 0.4);
}
.chart_fill_trans_4 {
  fill: rgba(26, 188, 156, 0.4);
}
.chart_fill_trans_5 {
  fill: rgba(54, 162, 235, 0.4);
}
.chart_fill_trans_6 {
  fill: rgba(239, 118, 122, 0.4);
}
.chart_fill_trans_7 {
  fill: rgba(201, 203, 207, 0.4);
}
.chart_dot_0 {
  stroke: #fff;
  fill: #2985a3;
  stroke-width: 1;
}
.chart_dot_1 {
  stroke: #fff;
  fill: #5dc2cf;
  stroke-width: 1;
}
.chart_dot_2 {
  stroke: #fff;
  fill: #ff6384;
  stroke-width: 1;
}
.chart_dot_3 {
  stroke: #fff;
  fill: #ffc131;
  stroke-width: 1;
}
.chart_dot_4 {
  stroke: #fff;
  fill: #1abc9c;
  stroke-width: 1;
}
.chart_dot_5 {
  stroke: #fff;
  fill: #36a2eb;
  stroke-width: 1;
}
.chart_dot_6 {
  stroke: #fff;
  fill: #ef767a;
  stroke-width: 1;
}
.chart_dot_7 {
  stroke: #fff;
  fill: #c9cbcf;
  stroke-width: 1;
}
@carma-sentiment-somewhat-positive : lighten(@chart_4, 5%));
.chart_sentiment_0 {
  color: #EF767A;
  background-color: #EF767A;
  stroke: #EF767A;
  fill: #EF767A;
}
.chart_sentiment_1 {
  color: #c9cbcf;
  background-color: #c9cbcf;
  stroke: #c9cbcf;
  fill: #c9cbcf;
}
.chart_sentiment_2 {
  color: #17a689;
  background-color: #17a689;
  stroke: #17a689;
  fill: #17a689;
}
#media-type-test {
  /* Creates a small triangle extender for the tooltip */
}
#media-type-test .bar {
  fill: #35978f;
}
#media-type-test .bar:hover {
  fill: #8c510a;
}
#media-type-test .axis {
  font: 10px sans-serif;
}
#media-type-test .axis path,
#media-type-test .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#media-type-test #test {
  width: 100%;
  height: 100%;
  position: absolute;
}
#media-type-test .d3-tip {
  line-height: 1;
  font: 14px sans-serif;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #b9b9b9;
  border-radius: 2px;
}
#media-type-test .d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
#media-type-test .d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.tooltips * {
  font-size: 13px;
  line-height: 1.42857143;
  font-size: .8rem!important;
}
.area-chart path,
.area-chart line {
  shape-rendering: crispEdges;
}
.area-chart .axis path,
.area-chart .axis line,
.area-chart .line-group line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #E8E8E8;
}
.area-chart .path-line {
  shape-rendering: initial;
}
.area-chart .path-area {
  stroke: none;
}
.area-chart text {
  font-family: sans-serif;
  font-size: 12px;
  fill: #2c3e50;
}
.area-chart .tick text {
  font-family: sans-serif;
  font-size: 10px;
  fill: #999;
}
.area-chart .tooltip-line {
  fill: #E8E8E8;
  stroke-width: 1;
}
.tooltip {
  font: 14px sans-serif;
  line-height: 1;
  font-weight: bold;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-family: inherit;
  pointer-events: none;
  /*let mouse events pass through*/
  opacity: 0;
  transition: opacity 0.3s;
  width: auto;
  position: absolute;
}
.tooltip:not(.left):before,
.tooltip.right:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.8);
  right: 100%;
  content: '';
  top: 10px;
  position: absolute;
  z-index: 99;
}
.tooltip.left:before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid rgba(0, 0, 0, 0.8);
  left: 100%;
  content: '';
  top: 10px;
  position: absolute;
  z-index: 99;
}
.tooltip .tip-title {
  display: block;
  color: orange;
}
.chart-iframe {
  width: 100%;
  height: 100%;
  border: 0 solid transparent;
}
