.collapsible-sidebar:not(.collapsible-sidebar--closed) .sidebar-toggler .open {
  display: none;
}
.collapsible-sidebar.collapsible-sidebar--closed {
  width: 42px;
  min-width: 42px;
  max-width: 42px;
}
.collapsible-sidebar.collapsible-sidebar--closed .sidebar-toggler .close,
.collapsible-sidebar.collapsible-sidebar--closed .secondary-content {
  display: none;
}
.dashboard {
  background: #f9f9f9;
  padding: 20px;
  position: relative;
  min-height: calc(100vh - 98px);
}
.dashboard .item-title {
  text-align: left;
}
.dashboard .list-item {
  margin-bottom: 1.5rem;
}
.dashboard .grid-stack-item.grid-stack-title .grid-stack-item-content {
  overflow: visible !important;
  padding-top: 30px;
}
.dashboard .grid-stack-item .grid-stack-item-content .widget {
  height: 100%;
  width: 100%;
}
.dashboard .widget {
  background: white;
  color: #2c3e50;
  text-align: center;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.125);
  overflow: visible !important;
}
.dashboard .widget:not(.np) {
  padding: 20px;
}
.dashboard .widget.widget-title:before {
  content: attr(data-title);
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #948d89;
}
.dashboard .widget .fa.stack-icon {
  display: block;
  margin: 20px 0 10px;
}
/************************************
Dropdown Icons
************************************/
.dropdown .menu {
  top: 100%;
}
.dropdown .menu li {
  text-align: left;
}
.dropdown .menu li a {
  text-align: left;
  color: #807874 !important;
}
.dropdown .menu li a .fa {
  margin-right: 10px;
}
.dropdown.no-caret .toggle {
  padding-right: 0;
}
.dropdown.no-caret .toggle:after {
  display: none;
}
.inline-icons-container li {
  float: left;
  text-align: left;
}
.inline-icons-container li a {
  text-decoration: none !important;
  padding-right: 10px;
  padding-left: 10px;
  display: block;
  text-align: left;
  color: #807874 !important;
}
.inline-icons-container li a:first-child {
  padding-left: 15px;
}
.inline-icons-container li:hover .fa,
.inline-icons-container li.active .fa {
  color: #ee9f5f;
  text-decoration: none !important;
}
.inline-icons-container li .fa {
  font-size: 2.2rem;
  color: #d2d2d4;
  display: block;
  text-align: center;
  line-height: 1.2em;
}
.inline-icons-container li p {
  font-size: 11px;
  text-align: center;
}
.dropdown.dropdown-icon-slots.pull-right .menu {
  right: 0;
}
.dropdown.dropdown-icon-slots .menu {
  width: 600px;
}
@media screen and (max-width: 768px) {
  .dropdown.dropdown-icon-slots .menu {
    width: 480px;
  }
}
@media screen and (max-width: 500px) {
  .dropdown.dropdown-icon-slots .menu {
    width: 240px;
  }
}
.dropdown.dropdown-icon-slots .menu li {
  float: left;
  height: 120px;
  width: 120px;
  text-align: center;
  position: relative;
  background: #f7f7f7;
  color: #807874;
  font-size: 0.9rem;
  cursor: pointer;
}
.dropdown.dropdown-icon-slots .menu li a:hover {
  text-decoration: none;
}
.dropdown.dropdown-icon-slots .menu li p {
  line-height: 1.2em;
}
.dropdown.dropdown-icon-slots .menu li p:not(:last-child) {
  margin-bottom: 0;
}
.dropdown.dropdown-icon-slots .menu li:hover .fa {
  color: #ee9f5f;
  text-decoration: none !important;
}
.dropdown.dropdown-icon-slots .menu li .fa {
  font-size: 4.6rem;
  color: #d2d2d4;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.dropdown.dropdown-icon-slots .menu li:before,
.dropdown.dropdown-icon-slots .menu li:after {
  content: '';
  position: absolute;
  background: #e7e7e8;
}
.dropdown.dropdown-icon-slots .menu li:before {
  width: 100px;
  height: 1px;
  bottom: 0;
  left: 10px;
}
.dropdown.dropdown-icon-slots .menu li:after {
  height: 100px;
  width: 1px;
  top: 10px;
  right: 0;
}
@media screen and (min-width: 768px) {
  .dropdown.dropdown-icon-slots .menu li:nth-child(5n+5):after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .dropdown.dropdown-icon-slots .menu li:nth-child(4n+4):after {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .dropdown.dropdown-icon-slots .menu li:nth-child(2n+2):after {
    display: none;
  }
}
/************************************
MISC
************************************/
.absolute {
  position: absolute;
}
.inline {
  display: inline-block;
}
.fullWidth {
  width: 100% !important;
  max-width: 100% !important;
}
.btn-narrow {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.btn-icon {
  padding: 0 !important;
}
.btn-icon.dropdown .toggle {
  padding: 3px 6px !important;
}
.btn-icon.dropdown .toggle:after {
  display: none !important;
}
.btn-icon.dropdown .menu {
  margin-top: 1px !important;
  left: 0 !important;
}
.btn-icon.dropdown.disabled .menu {
  display: none !important;
}
.btn-icon.dropdown.disabled .toggle {
  cursor: not-allowed;
}
.btn-icon.dropdown.disabled .toggle:hover {
  color: #2985a3;
}
.margin-center {
  margin: 0 auto;
}
.nmt {
  margin-top: 0 !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.nmb {
  margin-bottom: 0 !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.nmr {
  margin-right: 0 !important;
}
.mr200 {
  margin-right: 200px !important;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pt20 {
  padding-top: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.npr {
  padding-right: 0px;
}
.npl {
  padding-left: 0px;
}
.npt {
  padding-top: 0 !important;
}
.npb {
  padding-bottom: 0 !important;
}
