<script>

    var mediaTypeAggregatedVolumeChart;

    var datasets = [
        [124, 64, 60, 55, 51]
    ];

    var backgrounds = [getColorFromArrPlus(0,'1'), getColorFromArrPlus(1,'1'), getColorFromArrPlus(2,'1'), getColorFromArrPlus(3,'1'), getColorFromArrPlus(4,'1')];

    var labels = [
        'MSN Peru',
        'nasdaq',
        '4-trader',
        'BGE',
        'NewsDog'
    ];

    var options = {
        responsive: true,
        legend: {
            display: false,
            position: 'right',
            labels: {
                boxWidth: 10
            }

        },

        title: {
            display: false,
            text: 'All'
        },
        animation: {
            animateScale: true,
            animateRotate: true
        }
    };

    var ctx = document.getElementById("media-type-aggregated-volume-chart").getContext("2d");


    function onMediaTypeVolumeChartTypeSelected(chart_type, element){
        if(chart_type === 'doughnut' && $('#media_type_volume_chart_icon').hasClass('fa-bar-chart-o')) {
            $('#media_type_volume_chart_icon').removeClass('fa-bar-chart-o').addClass('fa-pie-chart');
            $('#media-type-aggregated-volume-container').removeClass('bar-chart').addClass('pie-chart');
        }
        if(chart_type === 'horizontalBar' && $('#media_type_volume_chart_icon').hasClass('fa-pie-chart')) {
            $('#media_type_volume_chart_icon').removeClass('fa-pie-chart').addClass('fa-bar-chart-o');
            $('#media-type-aggregated-volume-container').removeClass('pie-chart').addClass('bar-chart');
        }

        drawMediaTypeVolumeChart(chart_type, false);
    }


    $(function() {
        drawMediaTypeVolumeChart('doughnut', true);
    });

    function drawMediaTypeVolumeChart(chart_type, chart_new){
        mediaTypeAggregatedVolumeChart = new Chart(ctx,
        {
            type: chart_type,
            data: {
                datasets: [{
                    data: datasets[0],
                    backgroundColor: backgrounds
                }],
                labels: labels
            },
            options: options
        });

    }



</script>

    <div id="media-type-aggregated-volume-container" class="pie-chart">
        <canvas id="media-type-aggregated-volume-chart" width="500"></canvas>
    </div>
    <div class="chart-legend mt20 pull-left">
        <div class="legend-list vertical">
          <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_0" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>MSN Peru</span>
          </span>
            <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_1" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>nasdaq</span>
          </span>
            <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_2" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>trader</span>
          </span>
            <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_3" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>BGE</span>
          </span>
        </div>
            <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_4" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>Newsdog</span>
          </span>
        </div>

        <!--

        'MSN Peru',
        'nasdaq',
        '4-trader',
        'BGE',
        'NewsDog'
        -->
    </div>
    <div class="chart-type-picker pull-right nmr">
        <div class="dropdown btn btn-default btn-icon nmr">
            <div><span class="toggle" onclick="$(this).next().toggle()"><span class="label"><span id="media_type_volume_chart_icon" class="fa fa-pie-chart"></span></span></span>
                <ul class="menu">

                    <li>
                        <a onclick="onMediaTypeVolumeChartTypeSelected('doughnut', this)"><span class="fa fa-pie-chart"></span><span>Donut Chart</span></a>
                    </li>
                    <li>
                        <a onclick="onMediaTypeVolumeChartTypeSelected('horizontalBar', this)"><span class="fa fa-bar-chart-o"></span><span>Bar Chart</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>