
    <div id="media-type-aggregated-volume-container" class="pie-chart">
        <svg id="chart_0" class="chart sm" width="800" height="200"></svg>
        <div id="tooltip_chart_0" class="tooltip mouse"></div>
    </div>
    <div class="chart-legend mt20 pull-left">
        <div class="legend-list vertical">
          <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_0" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>MSN Peru</span>
          </span>
            <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_1" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>nasdaq</span>
          </span>
            <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_2" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>trader</span>
          </span>
            <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_3" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>BGE</span>
          </span>
        </div>
            <span class="legend-element" style="margin-right: 12px;">
            <span class="chart_4" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
            <span>Newsdog</span>
          </span>
        </div>

    </div>
    <div class="chart-type-picker pull-right nmr">
        <div class="dropdown btn btn-default btn-icon nmr">
            <div><span class="toggle" onclick="$(this).next().toggle()"><span class="label"><span id="media_type_volume_chart_icon" class="fa fa-pie-chart"></span></span></span>
                <ul class="menu">

                    <li>
                        <a onclick="onChartTypeSelected('donut', this)"><span class="fa fa-pie-chart"></span><span>Donut Chart</span></a>
                    </li>
                    <li>
                        <a onclick="onChartTypeSelected('horizontal_bar', this)"><span class="fa fa-bar-chart-o"></span><span>Bar Chart</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

<script type="text/javascript">
    //[300, 250, 1050, 50]
    var data = [
        {
            name: 'Website',
            value: 400
        },
        {
            name: 'Magazine',
            value: 350
        },
        {
            name: 'Newspaper',
            value:600
        },
        {
            name: 'Blog',
            value: 50
        }
    ];

    var currentChartType = 'bar'

    var globalParameters = {
        data: data,
        element: '.chart',
        tooltipElement: 'div.tooltip.mouse'
    };

    $(function () {
        setChartDimension();
        loadBar();

        $(window).resize(function(){
            //  setChartDimension();
        });

    });

    function setChartDimension(){
        var chart_cont = $('#chart_0');
        var width = chart_cont.parent().width(),
            height = chart_cont.height();
        chart_cont.attr('width', width);
        chart_cont.attr('height', height);
        //     chart_cont.attr('viewBox', '0 0 '+ width + ' ' + height);

    }

    function onChartTypeSelected(chart_type, element){
        setChartDimension();

        if(currentChartType !== chart_type) {
            var chart = 'i';
            if (chart_type === 'line') {
                $('#chart_' + chart + '_icon').attr('class', 'fa fa-line-chart');
            }
            else if (chart_type === 'area') {
                $('#chart_' + chart + '_icon').attr('class', 'fa fa-area-chart');
            }
            else if (chart_type === 'bar') {

                $('#chart_' + chart + '_icon').attr('class', 'fa fa-bar-chart-o');

                loadBar();
            }
            else if (chart_type === 'horizontal_bar') {

                var parameters = {
                    horizontal: true,
                    margin: {
                        top: 20,
                        left: 80,
                        right: 20,
                        bottom: 50
                    },
                    width: 680,
                    height: 200,
                    barHeight: 10,
                    updateLayout: currentChartType === 'bar' ? true : false
                };

                $('#chart_' + chart + '_icon').attr('class', 'fa fa-bars');
                generateBarChart(Object.assign(globalParameters, parameters));
            }
            else if (chart_type === 'area') {
                $('#chart_' + chart + '_icon').attr('class', 'fa fa-area-chart');
            }
            else if (chart_type === 'donut') {

                var parameters = {
                    margin : {
                        top: 80,
                        left: 80,
                        right: 80,
                        bottom: 80
                    },
                    width : 200,
                    height : 200,
                    barHeight: 10
                };

                $('#chart_' + chart + '_icon').attr('class', 'fa fa-pie-chart');
                generateDonutChart(Object.assign(globalParameters, parameters));
            }

            if(element !== undefined)
                $(element).closest('.menu').toggle();
        }

        currentChartType = chart_type;
    }

    function loadBar(){
        var parameters = {
            horizontal: true,
            margin: {
                top: 20,
                left: 80,
                right: 20,
                bottom: 50
            },
            width: 680,
            height: 200,
            updateLayout: currentChartType === 'horizontal_bar' ? true : false
        };

        generateBarChart(Object.assign(globalParameters, parameters));
    }


</script>