<div class="chart-legend chart-legend-absolute-bottom-right mt20">
    <div class="legend-list horizontal">
      <span class="legend-element" style="margin-right: 12px;">
        <span class="chart_sentiment_0" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
        <span>Negative</span>
      </span>
        <span class="legend-element" style="margin-right: 12px;">
        <span class="chart_sentiment_1" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
        <span>Neutral</span>
      </span>
        <span class="legend-element" style="margin-right: 12px;">
        <span class="chart_sentiment_2" style="display: inline-block; width: 8px; height: 8px; border-radius: 50%; margin-right: 6px;"></span>
        <span>Positive</span>
      </span>
    </div>
</div>

<div id="horizontal-stacked-bar" style="height: 100%;"></div>

<div id="tooltip" class="hidden">
    <p><span id="value">100</span>
    </p>
</div>